@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");

.new-call {
  background-color: #f8f6f6;
  min-width: 100%;
  color: #fff;
}
.samay {
  position: absolute;
  top: 150px;
  display: flex;
  flex-direction: row;
  width: 42%;
  height: 20vh;
  margin-top: 30px;
  margin-left: 100px;
}

.line {
  position: absolute;
  width: 100%;
  background-color: #f8f6f6;
  border-top: #f8f6f6;
  top: 50%;
}
.colon {
  color: #dad1d1;
  font-size: 100px;
  position: relative;
  top: 10px;
}
.time {
  min-width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 5;
  justify-content: center;
  align-content: center;
  padding: 5px;
  font-weight: bold;
  color: #faf9f9;
}
.sec_am-pm {
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.hr-min {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  background-color: rgb(59, 57, 57);
  margin: 2px;
  font-family: "Roboto", sans-serif;
  font-size: 120px;
  border-radius: 5px;
}
.sec {
  flex: 1 1 50px;
  width: 50%;
  padding: 1px;
  text-align: center;
  justify-content: center;
  align-content: center;
  font-family: "Roboto", sans-serif;
  background-color: rgb(59, 57, 57);
  border-radius: 5px;
  font-size: 50px;
  margin: 2px;
  font-weight: bold;
  color: #f8f6f6;
}

.diff {
  background-color: #004362;
  position: relative;
  top: 300px;
  height: 100vh;

  padding-left: 100px;
  padding-bottom: 50px;
}

.call-options {
  width: 42%;
  float: left;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
}
.callLinks {
  text-decoration: none;
  color: #004362;
  float: left;
  display: flex;
  flex-grow: 1;
  width: 50%;
}

.fig-icon {
  background-color: #fff;
  border-radius: 33px;
  width: 130px;
  height: 130px;
  margin: 10px;
  text-align: center;
  box-shadow: 0px 1px 2px 0px #050505;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.call-icons {
  color: #004362;
  font-size: 90px;
  padding: 10px;
}

.fig-cap {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#sch {
  text-decoration: none;
  background-color: #004362;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.call-list {
  position: absolute;
  top: 110px;
  right: 100px;
  margin-bottom: 50px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  align-content: center;
  float: right;
  width: 35%;
  font-family: "Roboto", sans-serif;
  height: 620px;
  border-radius: 100px 0px 0px 100px;
  text-align: center;
  padding: 30px;
  box-shadow: 0px 1px 2px 0px rgba(138, 138, 138, 0.88);
}

#sc-head {
  font-size: 20px;
  color: #111316;
  font-family: "Roboto", sans-serif;
}
.due-meet {
  width: 441px;
  height: 136px;
  box-shadow: 0px 1px 2px 0px #000000;
  background-color: #ffffff;
  text-align: justify;
  justify-content: space-between;
  border-radius: 22px;
  color: #000000;
  text-decoration: solid;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
  padding: 10px;
}
.descr {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}
.start-button {
  display: block;
  margin-left: 300px;
  margin-top: -70px;
}

.func-icons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-content: flex-end;
  position: relative;
  bottom: -40px;
  right: 10px;
  color: #111316;
  margin: 10px;
}

@media screen and (max-width: 960px) {
  .new-call {
    background-color: #f8f6f6;
    min-width: 100%;
    color: #fff;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  .samay {
    position: absolute;
    top: 150px;
    left: 20px;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 20vh;
    margin-top: 30px;
    margin-left: 100px;

    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  .colon {
    color: #dad1d1;
    font-size: 100px;
    position: relative;
    top: -20px;
  }
  .time {
    width: 50%;
    height: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 5;
    justify-content: center;
    align-content: center;
    padding: 2px 10px 2px 10px;
    font-weight: bold;
    color: #faf9f9;
    margin: 5px;
  }
  .sec_am-pm {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    height: 90px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }

  .hr-min {
    display: flex;
    height: 80px;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    padding: 2px 10px 2px 10px;
    background-color: rgb(59, 57, 57);
    margin: 2px;
    font-family: "Roboto", sans-serif;
    font-size: 90px;
    border-radius: 5px;
  }
  .sec {
    flex: 1 1 50px;
    width: 50%;
    height: 40px;
    padding: 1px;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-family: "Roboto", sans-serif;
    background-color: rgb(59, 57, 57);
    border-radius: 5px;
    font-size: 25px;
    margin: 1px;
    font-weight: bold;
    color: #f8f6f6;
  }

  .diff {
    background-color: #004362;
    position: relative;
    top: 300px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;

    padding-left: 100px;
    padding-bottom: 50px;
  }

  .call-options {
    width: 42%;
    float: left;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
  }
  .callLinks {
    text-decoration: none;
    color: #004362;
    float: left;
    display: flex;
    flex-grow: 1;
    width: 50%;
  }

  .fig-icon {
    background-color: #fff;
    border-radius: 33px;
    width: 130px;
    height: 130px;
    margin: 10px;
    text-align: center;
    box-shadow: 0px 1px 2px 0px #050505;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .call-icons {
    color: #004362;
    font-size: 90px;
    padding: 10px;
  }

  .fig-cap {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }

  #sch {
    text-decoration: none;
    background-color: #004362;
    box-shadow: none;
    border: none;
    cursor: pointer;
  }

  .call-list {
    position: relative;
    top: 10px;
    right: 100px;
    margin-bottom: 50px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    align-content: center;
    float: right;
    width: 95%;
    font-family: "Roboto", sans-serif;
    height: 620px;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    padding: 30px;
    box-shadow: 0px 1px 2px 0px rgba(138, 138, 138, 0.88);
  }

  #sc-head {
    font-size: 20px;
    color: #111316;
    font-family: "Roboto", sans-serif;
  }
  .due-meet {
    width: 441px;
    height: 136px;
    box-shadow: 0px 1px 2px 0px #000000;
    background-color: #ffffff;
    text-align: justify;
    justify-content: space-between;
    border-radius: 22px;
    color: #000000;
    text-decoration: solid;
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    margin-top: 15px;
    padding: 10px;
  }
  .descr {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-family: "Roboto", sans-serif;
    margin-top: 20px;
  }
  .start-button {
    display: block;
    margin-left: 300px;
    margin-top: -70px;
  }

  .func-icons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-content: flex-end;
    position: relative;
    bottom: -40px;
    right: 10px;
    color: #111316;
    margin: 10px;
  }
}
