.dashboard_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 5px 20px;
  justify-content: center;
  align-content: center;
}

.dashboard_left_section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.meet-name {
  display: flex;
  width: 100%;
  margin: 5px;
}
.stream-logo {
  color: #242424;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Days One", serif;
}
.meet-desc {
  width: 70%;
  height: 90px;
  margin: 5px;
  color: black;
  border-radius: 10px;
  background-color: rgb(241, 235, 235);
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.copy-share {
  float: right;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.copy-share-button {
  background-color: transparent;
  cursor: pointer;
  color: #0548ff;
  font-size: 30px;
  box-shadow: none;
  border: none;
  margin: 20px -35px;
}

.background_main_color {
  background-color: #fff;
}

.video {
  width: 100%;
  height: 80vh;
  position: absolute;
  top: 200px;
  right: 0%;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
}
.dashboard_content_container {
  width: 60%;
  height: 100%;
  display: flexbox;
  flex-direction: column;
  text-align: left;
  justify-content: stretch;
  align-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
}

.dashboard_rooms_container {
  width: 250px;
  cursor: pointer;
  height: 100%;
  border-radius: 10px;
  font-family: Roboto, sans serif;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  align-items: center;
}

.dashboard_active_users_list {
  width: 200px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: Roboto, sans serif;
  font-weight: 400;
  float: right;
}

.chat-application {
  width: 2%;
  position: absolute;
  right: 110px;
  top: 110px;
}

/* .dashboard_info_text_container {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.dashboard_info_text_title {
  font-size: 50px;
}

.dashboard_info_text_description {
  margin-top: 20px;
  font-size: 20px;
}
 */
