.group_call_button {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #ffffff;
  outline: none;
  border: 1px solid #e6e5e8;
  font-size: 36px;
  text-align: center;
  padding: 2px 2px;
  transition: 0.3s;
  color: #0548ff;
  margin-left: 100px;
}

.group_call_button:hover {
  background-color: #0548ff;
  color: #ffffff;
  opacity: 0.7;
}
