.group_call_button {
  border-radius: 50px;
  outline: none;
  border: 1px solid #e6e5e8;
  font-size: 16px;
  padding: 10px 10px;
  width: 170px;
  transition: 0.3s;
  position: absolute;
  left: 0px;
  bottom: -15%;
  background-color: #282c34;
  color: #0548ff;
  margin-left: 100px;
}

.group_call_button:hover {
  background-color: #0548ff;
  color: #ffffff;

  opacity: 0.7;
}
