.logo {
  flex: 1;
  color: rgb(21, 22, 22);
}

.buttons {
  display: flex;
  flex-direction: column;
  float: right;
  max-width: 300px;
}

.imag {
  display: flex;
  flex-direction: row;
}
