body {
  margin: 0;
 
}


.dashboard_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 25px 25px 25px;
  justify-content: center;
  align-content: center;
}

.dashboard_left_section {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 23px;
}
.flexy {
  flex: 100%;
  width: 100%;
}
.flexya {
  flex: 70%;
  width: 70%;
}
#scroll {
  position: absolute;
  top: 100vh;
}

.meet-name {
  display: flex;
  width: 100%;
}
.stream-logo {
  color: #242424;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Days One", serif;
}
.navbar-icon {
  color: #004362;
}
.meet-desc {
  width: 75%;
  box-sizing: border-box;
  height: 65px;
  border-radius: 20px;
  justify-content: center;
  padding-top: 30;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
}
.copy-share {
  float: right;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.copy-share-button {
  background-color: transparent;
  cursor: pointer;
  color: #004362;
  font-size: 30px;
  box-shadow: none;
  border: none;
  position: relative;
  top: -30px;
  right: 15px;
}

.background_main_color {
  background-color: #fff;
}

.video {
  width: 100%;
  height: 100%;
  position: relative;
  top: 5px;
  margin: 0%;
  padding: 0%;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 20px;
}

.dashboard_content_container {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  display: flexbox;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-radius: 20px;
}
.flex-container {
  
  
  /* margin: 0 auto; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-top: 10px;
  /* margin: 0 auto; */
  position: relative;
}
#my-video{
  position: absolute;
   bottom : '1%';

    width: 130vh;
/* font-size:100vh; */
    /* // height: 120vh;  */
}
.participants{
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 95px;
  position: absolute;
  bottom: 80px;
  padding: 5px;
  width: 100%;
  text-align: left;
  vertical-align: middle;
  align-items: center;
  border-radius: 20px;
  background-color: #f5f5f5;
  overflow-x: scroll;

}
.participants::-webkit-scrollbar {
  height: 2px;
}
.participants::-webkit-scrollbar-track {
  background: #fff;
}
.participants::-webkit-scrollbar-thumb {
  background: #ffff;
}
.participants::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
.pos-parti{
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 115px;
  position: absolute;
  bottom: 30px;
  vertical-align: middle;  
  align-items: center;
  padding: 5px;
  width: 100%;
  text-align: left;
  border-radius: 20px;
  background-color: #f5f5f5;
  overflow-x: scroll;
}
.pos-parti::-webkit-scrollbar {
  height: 2px;
}
.pos-parti::-webkit-scrollbar-track {
  background: #fff;

}
.pos-parti::-webkit-scrollbar-thumb {
  background: fff;
}
.pos-parti::-webkit-scrollbar-thumb:hover {
  background: fff;
}
.btn-down {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 75px;
  padding-top: 5px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 20px;
  background-color: #f5f5f5;
}

.call-btn {
  color: #004362;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #e6e5e8;
  text-decoration: none;
  background-color: #fff;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  padding: 2px;
  font-size: 36px;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-shadow: none;
  border-image: none;
  border-style: none;
  border-width: 0px;
  outline: none;
}

.no-chatter {
  display: none;
}

.chatter {
  flex: 30%;
  width: 412px;
  float: right;
  height: 100%;
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 16px 19px 31px 19px;
  justify-content: center;
  align-content: center;
}
#chat-options {
  width: 100%;
  height: 112px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
  border-radius: 20px;
  color: #242424;
  text-align: left;
  font-weight: 400;
  font-size: 30px;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 39px 15px 43px 12px;
}
.c-icons {
  color: #004362;
  float: right;
  cursor: pointer;
  justify-content: space-between;
}

.chat-msg {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 78px;
  font-size: 30px;
  color: #242424;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  position: relative;
  bottom: 10px;
  padding: 1px;
}

.leftpos {
  justify-content: center;
  align-content: center;
  align-items: center;
  float: left;
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 5px;
}
.rightpos {
  justify-content: center;
  align-content: center;
  align-items: center;
  float: right;
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 15px;
}

input {
  height: 100%;
  width: 300px;
  font-size: 15px;
  font-weight: 200px;
  box-sizing: content-box;
  border: none;
  text-decoration: none;
}

.btn-group {
  display: flex;
  flex-direction: column;
  width: 150px;

  position: relative;
  top: -190px;
  left: 70%;
}

.btn-up {
  display: none;
}

@media screen and (max-width: 660px) {
  .dashboard_container {
    padding: 1px;
  }
  .dashboard_left_section {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 05px;
    justify-content: center;
  align-content: center;
  }
  .stream-logo {
    color: #242424;
    justify-self: start;
    cursor: pointer;
    margin-left: 15px;
    text-decoration: none;
    font-size: 10px;
    font-family: "Days One", serif;
  }

  .navbar-icon {
    color: #004362;
    font-size: 40px;
  }

  .meet-desc {
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    border-radius: 10px;
    text-align: left;
    justify-content: center;
    padding-top: 30;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
  }

  .flexy {
    flex: 100%;
    width: 100%;
  }
  .flexya {
    display: none;
  }
  .flex-container {
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: relative;
  }
  #my-video{
    object-fit: fill;
     border-radius: 20px;
      width: 100%;
       height:62vh; 

  }
  .participants{
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 12vh;
    position: absolute;
    bottom: 95px;
    padding: 5px;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    align-items: center;
    border-radius: 20px;
    background-color: #f5f5f5;
    overflow-y:hidden ;
    overflow-x:scroll;
  
  }
  .participants::-webkit-scrollbar {
    height: 2px;
  }
  .participants::-webkit-scrollbar-track {
    background: #fff;
  }
  .participants::-webkit-scrollbar-thumb {
    background: #ffff;
  }
  .participants::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }
  .pos-parti{
    display: flex;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    height: 12vh;
    position: absolute;
    bottom: 50px;
    padding: 5px;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    align-items: center;
    border-radius: 20px;
    background-color: #f5f5f5;
    overflow-y:hidden ;
    overflow-x:scroll;
  
  }
  


  .btn-down {

    display: none;
  }
  .btn-up {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 70px;
    padding: 10px;
    position: absolute;

    bottom: 20px;

    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 20px;
    background-color: #f5f5f5;
  }
  .call-btn {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    margin-left: 3px;
    margin-right: 3px;

    font-size: 20px;
  }
  .btn-group {
    width: 120px;
    position: relative;

    top: -195px;
    left: 58%;

  }
  .chatter {
    width: 100%;
    float: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0%;
    border-radius: 0px;
    padding: 10px;
  }
  #chat-options {
    height: 90px;
    font-size: 20px;
    padding: 25px;
  }

  .chat-msg {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 70px;
    font-size: 20px;
    position: relative;

    bottom: 50px;

    padding: 1px;
  }

  .leftpos {
    justify-content: center;
    align-content: center;
    align-items: center;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 5px;
  }
  .rightpos {
    justify-content: center;
    align-content: center;
    align-items: center;
    float: right;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 10px;
  }

  input {
    height: 100%;
    width: 100%;
    font-size: 15px;
    font-weight: 200px;
    box-sizing: content-box;
    border: none;
    text-decoration: none;
  }

}
